body{
    background: url("Images/360_F_290455929_9lEPUEIlw0FZX7cAnxLjRvhfFyjIKS4J.jpg");
}
.logout{
    padding: 10px 30px;
    cursor: pointer;
    background: grey;
    border: 0;
    outline: none;
    position: relative;
    color: black;
    margin-left: 1000px;
}
.mygame{
    padding: 10px 30px;
    cursor: pointer;
    background: goldenrod;
    border: 0;
    outline: none;
    position: relative;
    color: gold;
    margin-left: 525px;
}
.accountdisplay{
    width: 360px;
    height:280px;
    position:relative;
    margin: 6% auto;
    background: goldenrod;
    background-size: cover;
    background-position: right;
    padding: 5px;
    padding-left: 5px;
    border-radius: 10px;
    text-align: center;
    justify-content: space-between;
}
