.headernotice {
    background-color:rgb(189, 189, 189);
    text-align:center;

}
.headernav{
    background-color:#F3E496
}
.headernav > img {
    margin-top: 2%;
    margin-bottom:2%;
    margin-left: 9%;
    margin-right:5%;
    height:50px;
    width: 135px;
}
.headernotice2{
    background-color:rgb(189, 189, 189);
    text-align:center;
}
.checked {
    color:gold;
}

.footer1{
    background-color:whitesmoke;
}
.footer2 {
    background-color:whitesmoke;
}
.footer2 >img {
    height:5%;
    width:5%;
}