
.headernav{
    background-color:#F3E496;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
}
.headernav > img {
    margin-top: 2%;
    margin-bottom:2%;
    margin-left: 9%;
    margin-right:30%;
    height:80px;
    width:200px;
}
.headernotice2{
    background-color:rgb(189, 189, 189);
    text-align:center;
}
.checked {
    color:gold;
}

.footer1{
    background-color:whitesmoke;
}
.footer2 {
    background-color:whitesmoke;
}
.footer2 >img {
    height:5%;
    width:5%;
}
.account {
    display: inline-block;
    position: relative;
    font-size: 20px; 
    top: 30px;
    font-weight: bold;
    
}
.Login {
    display: inline-block;
    position: relative;
    font-size: 20px; 
    top: 30px;
    font-weight: bold;
}
.Likes {
    display: inline-block;
    position: relative;
    font-size: 20px;
    top: 30px; 
    font-weight: bold;
}
.cart {
    display: inline-block;
    position: relative;
    font-size: 14px; 
    top: 30px;
    font-weight: bold;
    background: orange;
    border: none;
    border-radius: 30px;
    padding: 12px 30px;
    text-decoration-line: underline;
}
.footer1{
    display: flex;
    font-weight: bold;
}
