
body{
    background: url("Images/360_F_290455929_9lEPUEIlw0FZX7cAnxLjRvhfFyjIKS4J.jpg");
}

.search-bar{
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display:flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
    margin-top: 100px;
    margin-left: 280px;
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding:24px 20px;
    font-size:20px;
    color: #5a5873;
}
::placeholder{
    color: #61617f;
}
.search-bar button img{
    width: 25px;

}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #adb5e4;
    cursor: pointer;
}
.for-you{
    text-align: center;
}
.foryou-listing-container{
    flex: 0 0 30%;
    max-width: 100%;
    position: relative;
    padding: 18px;
    text-align: center;
    margin-left: 50px;
}
.listing-container{
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    position: relative;
    justify-content: space-between;
    margin: 10px;
}
.listing-container:hover{
    transform: scale(1.1);
    transition: .2s;
}
img{
    width: 100px;
    height:100px;
}
.searchresult{
    text-align: center;
}
.searchresult>a:visited{
    text-decoration: none!important; 
    color:black;
}
.searchresult>a:link {
    text-decoration: none; 
    color:black;
}
.searchresult>a:hover {
    text-decoration: none; 
    color:black;
}
.searchresult>a:active {
     text-decoration: none; 
     color:black;
}
.a:visited{
    text-decoration: none!important; 
    color:black;
}
.a:link {
    text-decoration: none; 
    color:black;
}
.a:hover {
    text-decoration: none; 
    color:black;
}
.a:active {
     text-decoration: none; 
     color:black;
}
@media(max-width:967px){
    .foryou-listing-container{
        flex: 0 0 70%;
        max-width: 70%;
        position: relative;
        padding:8px;
        margin-left: 100px;
    }
    .listing-container{
        flex: 0 0 30%;
        max-width: 30%;
        position: relative;
        padding:8px;
    }
    .search-bar{
        flex: 0 0 100%;
        max-width: 100%;
        margin-left: 0px;
    }
}

@media(max-width:767px){
    .foryou-listing-container{
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        padding:8px;
        margin-left: 170px;
    }
    .listing-container{
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        padding:8px;
    }
    .search-bar{
        flex: 0 0 100%;
        max-width: 100%;
        margin-left: 10px;
    }
}
@media(max-width:500px){
    .foryou-listing-container{
        flex: 0 0 100%;
        max-width: 100%;
        margin-left: 0px;
    }
    .listing-container{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .search-bar{
        flex: 0 0 100%;
        max-width: 100%;
        margin-left: 0px;
    }
}
.fa-heart{
    color: red;
}
