/*.container2{
    height: 220%;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://wallpapers.com/images/hd/hd-lego-bricks-background-qsznux1skhp0v1m7.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    background-attachment: fixed;
    overflow: hidden ;
}
.content h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}
.content a{
    text-decoration: none;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.content{
    width: 50%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.23);
    transition: .4s;
    background: orange;
    

}
.nimby-img{
    height: 70%;
    width:70%;
    display: inline-block;

}
.details_category{
    display: inline-block;

}
.content:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}
.nimby{
    width: 630px;
    height: 500px;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}
.content p{
    text-align: center;
    color: #b2bec3;
    padding-top: 8px;
}
.content h6{
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}
.fa{
    font-size: 26px;
    transition: .4s;
    margin: 3px;
}
.checked{
    color: #ff9f43;
}
.fa:hover{
    transform: scale(1.3);
    transition: .6s;
}
button{
    text-align: center;
    font-size: 24px;
    color: #fff;
    padding: 10px;
    border: 0;
    outline: none;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: orange;
    display: inline-block;
}
@media(max-width:1200px){
    .content{
        flex: 0 0 70%;
        max-width: 70%;
        position: relative;
        padding:8px;
        margin-left: 100px;
    }
    .button{
        flex: 0 0 30%;
        max-width: 30%;
        position: relative;
        padding:8px;
    }
}

@media(max-width:667px){
    .content{
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        padding:8px;
        margin-left: 10px;
    }
    .button{
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        padding:8px;
    }
}
@media(max-width:600px){
    .content{
        flex: 0 0 100%;
        max-width: 100%;
        margin-left: 0px;
    }
    .button{
        flex: 0 0 100%;
        max-width: 100%;
    }
}*/
body{
 background: url("Images/360_F_290455929_9lEPUEIlw0FZX7cAnxLjRvhfFyjIKS4J.jpg");
}
.for-you{
    text-align: center;
}
.nimby{
    flex: 0 0 30%;
    max-width: 100%;
    position: relative;
    padding: 18px;
    text-align: center;
    margin-left: 50px;
}
.listingdetails{
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    position: relative;
    justify-content: space-between;
    margin: 10px;
    background-color: gold;
}
.listingdetails:hover{
    transform: scale(1.1);
    transition: .2s;
}
.nimby-img{
    width: 200px;
    height:200px;
}
.a:visited{
    text-decoration: none!important; 
    color:black;
}
.a:link {
    text-decoration: none; 
    color:black;
}
.a:hover {
    text-decoration: none; 
    color:black;
}
.a:active {
     text-decoration: none; 
     color:black;
}
button{
    text-align: center;
    font-size: 24px;
    color: #fff;
    padding: 10px;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    background: orange;
    display: inline-block;
}
@media(max-width:967px){
    .content{
        flex: 0 0 70%;
        max-width: 70%;
        position: relative;
        padding:8px;
        margin-left: 100px;
    }
    .button{
        flex: 0 0 30%;
        max-width: 30%;
        position: relative;
        padding:8px;
    }
}

@media(max-width:767px){
    .content{
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        padding:8px;
        margin-left: 170px;
    }
    .button{
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        padding:8px;
    }
}
@media(max-width:500px){
    .content{
        flex: 0 0 100%;
        max-width: 100%;
        margin-left: 0px;
    }
    .button{
        flex: 0 0 100%;
        max-width: 100%;
    }
}